<!DOCTYPE html>

<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Elda CPR & First Aid Training</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/assets/bootstrap.min.css">

        <!-- Fontawesome Icon -->
        <link rel="stylesheet" href="css/assets/font-awesome.min.css">

        <!-- Animate Css -->
        <link rel="stylesheet" href="css/assets/animate.css">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="css/assets/owl.carousel.min.css">

        <!-- Date Picker -->
        <link rel="stylesheet" href="css/assets/tempusdominus-bootstrap-4.min.css">

        <!-- Magnific PopUp -->
        <link rel="stylesheet" href="css/assets/magnific-popup.css">

        <!-- Custom Style -->
        <link rel="stylesheet" href="css/assets/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/assets/responsive.css">
   
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="pr-circle">
            <div class="pr-circle1 pr-child"></div>
            <div class="pr-circle2 pr-child"></div>
            <div class="pr-circle3 pr-child"></div>
            <div class="pr-circle4 pr-child"></div>
            <div class="pr-circle5 pr-child"></div>
            <div class="pr-circle6 pr-child"></div>
            <div class="pr-circle7 pr-child"></div>
            <div class="pr-circle8 pr-child"></div>
            <div class="pr-circle9 pr-child"></div>
            <div class="pr-circle10 pr-child"></div>
            <div class="pr-circle11 pr-child"></div>
            <div class="pr-circle12 pr-child"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Top Bar -->
    <section class="top-bar" id="btt">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9">
                    <div class="bar-content">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><img src="images/phone.png" alt="">+1 (267) 242-4795</li>
                            <li class="list-inline-item"><img src="images/clock.png" alt="">Mon - Sat 8:30am - 6:30pm</li>
                            <li class="list-inline-item"><img src="images/mail.png" alt="">eleekpalay@aol.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-3">
                    <div class="top-social text-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item">
                                <span><button type="button" data-toggle="modal" data-target="#model-box">Make an Appointment</button></span>
                                <!-- Appointment Box -->
                                <div class="modal fade" id="model-box">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content text-center">
                                            <div class="medel-box-top">
                                                <h4>Book An Appointment</h4>
                                                <img src="images/heartbeat.png" alt="">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                            <form action="#">
                                                <input type="text" name="name" placeholder="Full Name" required>
                                                <input type="text" name="phone" placeholder="Phone Number" required>
                                                <input type="text" name="email" placeholder="Email Address" required>
                                                <input type="text" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" name="appdate" placeholder="Appointment Date">
                                                <textarea name="message" placeholder="Message" required></textarea>
                                                <button type="submit">Book Now</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Top Bar -->
    <!-- Logo Area -->
    <section class="logo-area menu-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href=""><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="main-menu text-left">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item active">
                                <a>HOME</a>
                            </li>
                            <li class="list-inline-item">
                                <a>SERVICE</a>
                            </li>
                            <li class="list-inline-item">
                                <a>ABOUT US</a>
                            </li>
                            <li class="list-inline-item">
                                <a>APPOINTMENT</a>
                            </li>
                            <li class="list-inline-item mega-menu">
                                <a>CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Logo Area -->
    <!-- Mobile Menu -->
    <section class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <a href=""><img src="images/logo.png" alt=""></a>
                            <a href=""><i class="fa fa-bell-o"></i></a>
                            <ul class="list-unstyled">
                                <li><a href="">HOME</a></li>
                                <li><a href="">SERVICE</a></li>
                                <li><a href="">ABOUT US</a></li>
                                <li><a href="">SCHEDULE</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Mobile Menu -->
    <div>
        @RenderBody()
    </div>
    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="f-menu text-center">
                        <ul class="menu list-unstyled list-inline">
                            <li class="list-inline-item"><a href="">Home</a></li>
                            <li class="list-inline-item"><a href="">About</a></li>
                            <li class="list-inline-item"><a href="">Service</a></li>
                            <li class="list-inline-item"><a href="">Doctor</a></li>
                            <li class="list-inline-item"><a href="">Blog</a></li>
                            <li class="list-inline-item"><a href="">Contact</a></li>
                        </ul>
                        <p>Copyright &copy; 2017 | Designed With <i class="fa fa-heart"></i> by <a href="#" target="_blank">StringBuilders</a></p>
                        <ul class="social list-unstyled list-inline">
                            <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="back-to-top text-center">
                        <a data-scroll href="#btt"><img src="images/backtotop.png" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Section -->
    <!-- =========================================
    JavaScript Files
    ========================================== -->
    <!-- jQuery JS -->
    <script src="js/assets/vendor/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/assets/popper.min.js"></script>
    <script src="js/assets/bootstrap.min.js"></script>

    <!-- Wow Animation -->
    <script src="js/assets/wow.min.js"></script>

    <!-- Owl Slider -->
    <script src="js/assets/owl.carousel.min.js"></script>

    <!-- Date Picker -->
    <script src="js/assets/moment.min.js"></script>
    <script src="js/assets/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Isotope -->
    <script src="js/assets/isotope.pkgd.min.js"></script>

    <!-- Magnific PopUp -->
    <script src="js/assets/magnific-popup.min.js"></script>

    <!-- Counter Up -->
    <script src="js/assets/counterup.min.js"></script>
    <script src="js/assets/waypoints.min.js"></script>

    <!-- Smooth Scroll -->
    <script src="js/assets/smooth-scroll.js"></script>

    <!-- Syotimer -->
    <script src="js/assets/jquery.syotimer.min.js"></script>

    <!-- Mean Menu -->
    <script src="js/assets/jquery.meanmenu.min.js"></script>

    <!-- Form Validation -->
    <script src="js/assets/form.js"></script>

    <!-- Custom JS -->
    <script src="js/plugins.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
