@page
@model IndexModel
@{
    Layout = "_EldaCPRLayout";
}

<!-- Slider Area -->
<section class="home-slider">
    <div class="slider-wrapper owl-carousel">
        <div class="slider-item slider1">
            <div class="slider-table">
                <div class="slider-tablecell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <div class="slider-heading wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                    <h1><span>MediSeba</span> Provides Complete Healthcare.</h1>
                                </div>
                                <div class="slider-para wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="slider-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item slider2">
            <div class="slider-table">
                <div class="slider-tablecell">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-4 col-md-12 text-right">
                                <div class="slider-heading wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0.2s">
                                    <h1><span>MediSeba</span> Care About Your Health.</h1>
                                </div>
                                <div class="slider-para wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div class="slider-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                                    <a href="">Find A Doctor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider Area -->
<!-- Service Area -->
<section class="welcome-area">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">
                    <div class="rg-card-simple equal-height">
                        <header>
                            <h5>Simple Table</h5>
                        </header>
                        <section>
                            <table class="table rg-table rg-table-simple">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </div>*@
            <div class="col-md-12">
                <div class="rg-card-simple">
                    <header></header>
                    <section>
                        <div id='calendar'></div>
                    </section>
                </div>
                <input asp-for="@Model.UpComingTraining" hidden id="defaultDate" />
            </div>
        </div>
    </div>

    <div class="modal fade" id="model-box">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="medel-box-top">
                    <h4 id="courseTitle">Register</h4>
                    <img src="images/heartbeat.png" alt="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div id="descriptTxt"></div>
                <br />
                <form  method="post" asp-page="Index" asp-page-handler="AddVoluntaryForEvent">
                    <input type="text" name="name" placeholder="Full Name" required>
                    <input type="text" name="phone" placeholder="Phone Number" required>
                    <input type="text" name="email" placeholder="Email Address" required>
                    <input type="text" id="datetimepicker" data-toggle="datetimepicker" data-target="#datetimepicker" name="appdate" placeholder="Appointment Date">
                    <textarea name="message" placeholder="Message" required></textarea>
                    <button type="submit">Book Now</button>
                </form>
            </div>
        </div>
    </div>

    @*<div id="fullCalModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div id="modalBody" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a class="btn btn-primary" id="eventUrl" target="_blank">Event Page</a>
                    </div>
                </div>
            </div>
        </div>*@
</section>
<!-- End Service Area -->
<!-- About Instructor -->
<section class="h-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-box">
                    <h3 style="color:#fff">About instructor</h3><br />
                    <h3 style="color:#fff">Elda Foster,</h3>
                    <h5 style="color:#fff">Master of Science: Nursing, Wilmington University </h5><br />
                    <p>
                        I am a certified American Heart Association BLS Instructor who has over 14 years of nursing experience working labor and delivery, postpartum,
                        newborn nursery, medical-surgical, nurse manager, and clinical nurse supervisor at major intercity hospitals in Philadelphia, PA.
                        I have experience in responding to emergency situations (RRT, Code Blue) and assisting as necessary.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-image">
                    <img src="images/Instructor.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Of About Instructor -->
<!-- Course Info -->
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="news-box" style="height:100%">
                    <div class="news-image">
                        <a href=""><img src="images/COURS3.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="news-heading d-flex">
                        <div class="news-date text-center">
                            <p><br> </p>
                        </div>
                        <div class="heading-box">
                            <h6><a href="">BLS HCP</a></h6>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">For Healthcare Providers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="news-content">
                        <p>
                            The Basic Life Support (BLS) for Healthcare Providers Classroom Course is designed to provide a wide variety of healthcare professionals the ability
                            to recognize several life-threatening emergencies, provide CPR, use an AED, and relieve choking in a safe, timely and effective manner.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-box" style="height:100%">
                    <div class="news-image">
                        <a href=""><img src="images/COURS1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="news-heading d-flex">
                        <div class="news-date text-center">
                            <p><br> </p>
                        </div>
                        <div class="heading-box">
                            <h6><a href="">CPR AED</a></h6>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">Heartsaver CPR with AED training</li>
                            </ul>
                        </div>
                    </div>
                    <div class="news-content">
                        <p>
                            Heartsaver®  First Aid CPR AED is a classroom, video-based, instructor-led course that teaches students critical skills needed to respond to and manage a
                            first aid, choking or sudden cardiac arrest emergency in the first few minutes until emergency medical services (EMS) arrives.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-box" style="height:100%">
                    <div class="news-image">
                        <a href=""><img src="images/COURS2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="news-heading d-flex">
                        <div class="news-date text-center">
                            <p><br></p>
                        </div>
                        <div class="heading-box">
                            <h6><a href="">FA CPR AED</a></h6>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">Heartsaver First Aid with AED training</li>
                            </ul>
                        </div>
                    </div>
                    <div class="news-content">
                        <p>
                            Students learn skills such as how to treat bleeding, sprains, broken bones, shock and other first aid emergencies.  This course also teaches adult CPR and AED use.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Course Info -->
<!-- Home About Area -->
<section class="h-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="about-box">
                    <h4>Why Us</h4>
                    <img src="images/heartbeat2.png" alt="">
                    <p>
                        didiidiidi
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="shedule-box">
                    <div class="open-hr">
                        <h6><i class="fa fa-clock-o"></i>Opening Hours</h6>
                        <ul class="list-unstyled">
                            <li>Monday - Friday <span>8:30am - 9:00pm</span></li>
                            <li>Saturday <span>10:30am - 2:30pm</span></li>
                            <li>Sunday <span>10:00am - 5:00pm</span></li>
                        </ul>
                    </div>
                    <div class="help-box">
                        <h6><i class="fa fa-pencil-square-o"></i>Need Help?</h6>
                        <p>Lorem ipsum dolor sit amet, consecte Molestiae adipisic elit.</p>
                        <a href="">Make an Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Home About Area -->
<!-- Pricing -->
<section class="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pricing-top text-center">
                    <h4>Additional Information</h4>
                    <img src="images/heartbeat.png" alt="">
                    <p style="color:red">
                        <b>PLEASE register online, but do NOT pay online via credit card . . . please bring cash or a check with you to the training event as payment. Thank You!!</b>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-box" style="height:95%">
                    <ul class="list-unstyled">
                        <li>
                            Did you know sudden cardiac arrest is the leading cause of adult death in this country and that most cardiac arrests happen in someone’s home?
                        </li>
                        <li>
                            The ability to perform CPR and to know how to use an automatic external defibrillator can make a lifesaving difference when someone suffers a cardiac or breathing emergency.
                        </li>
                        <li>
                            Every year the American Heart Association trains many people in CPR and how to use an AED. Communities are safer across the country because people are trained
                            in these lifesaving techniques. American Heart Association training and certification meets the needs of workplace responders, professional rescuers, school
                            staff and healthcare providers as well as the general public.
                        </li>
                        <li>
                            We hope you will view the training schedule below and decide to sign up for some classes. Just click on the calendar graphic to register.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pricing-box" style="height:95%">
                    <ul class="list-unstyled">
                        <li>Information regarding our class offerings and location can be found on our calendar above.</li>
                        <li>We give 10% off on group rates for groups greater than 10 people.</li>
                        <li>We do travel throughout the counties and would be happy to go to your location if you have 6 or more students.</li>
                        <li>Credit is only given to students who properly notify us of their absence within 24 hours of their scheduled class date/time.</li>
                        <li>No refunds are given for “no show” appointments.</li>
                        <li>We give every student a course completion letter at the end of class.</li>
                        <li>Wear comfortable clothes for the practical portion of class.</li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-4">
                    <div class="pricing-box text-center">
                        <h5>Full Checkup</h5>
                        <p><span>30%</span>Discount</p>
                        <ul class="list-unstyled">
                            <li>Blood Presure Checkup</li>
                            <li>Sugar Checkup</li>
                            <li>Physical Checkup</li>
                            <li>Basic Blood Test</li>
                            <li>Free Medicine</li>
                        </ul>
                        <a href="">Book Now</a>
                    </div>
                </div>*@

        </div>
    </div>
</section>
<!-- End Pricing -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <style>
        .fc-title {
            color: white;
            /*background-color: #5ebb47;*/
        }
        
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var mydefaultDate = $("#defaultDate").val();

            var calendar = new FullCalendar.Calendar(calendarEl, {
              plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
              height: 'parent',
              header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                eventClick: function (event) {
                    //alert('Event: ' + event.event.extendedProps.description);
                    $('#courseTitle').html('Register for '+ event.event.title);
                    $('#descriptTxt').html(event.event.extendedProps.description);
                    $('#eventUrl').attr('href', event.event.url);
                    $('#model-box').modal();
                    return false;
                },
              defaultView: 'dayGridMonth',
              defaultDate: mydefaultDate,
              navLinks: true, // can click day/week names to navigate views
              editable: true,
              eventLimit: true, // allow "more" link when too many events
                events: '@Url.Page("/Index", "FindAllEvents")',
                eventColor: '#00a3c8'
            });

            calendar.render();
  });

    </script>
}