@page
@model EldaCPRFirstAidTraining.Pages.RegistrationModel

@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Elda CPR & First Aid Training</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/assets/bootstrap.min.css">

    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="css/assets/font-awesome.min.css">

    <!-- Animate Css -->
    <link rel="stylesheet" href="css/assets/animate.css">

    <!-- Owl Slider -->
    <link rel="stylesheet" href="css/assets/owl.carousel.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="css/assets/tempusdominus-bootstrap-4.min.css">

    <!-- Magnific PopUp -->
    <link rel="stylesheet" href="css/assets/magnific-popup.css">

    <!-- Custom Style -->
    <link rel="stylesheet" href="css/assets/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/assets/responsive.css">

    <!-- keep either rlt or ltr bootstrap css... DON"T Include both even with comment -->
    <link href="~/vendors/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendors/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/vendors/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/vendors/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/vendors/js/fullcalendar/core/main.css" rel='stylesheet' />
    <link href="~/vendors/js/fullcalendar/daygrid/main.css" rel='stylesheet' />
    <link href="~/vendors/js/fullcalendar/timegrid/main.css" rel='stylesheet' />

    <link href="~/vendors/js/fullcalendar/list/main.css" rel='stylesheet' />
    <link href="~/vendors/css/jquery.slider.min.css" rel="stylesheet" />

</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pr-circle">
            <div class="pr-circle1 pr-child"></div>
            <div class="pr-circle2 pr-child"></div>
            <div class="pr-circle3 pr-child"></div>
            <div class="pr-circle4 pr-child"></div>
            <div class="pr-circle5 pr-child"></div>
            <div class="pr-circle6 pr-child"></div>
            <div class="pr-circle7 pr-child"></div>
            <div class="pr-circle8 pr-child"></div>
            <div class="pr-circle9 pr-child"></div>
            <div class="pr-circle10 pr-child"></div>
            <div class="pr-circle11 pr-child"></div>
            <div class="pr-circle12 pr-child"></div>
        </div>
    </div>

    <section class="top-bar" id="btt">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-9">
                    <div class="bar-content">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><img src="images/phone.png" alt="">+1 (267) 242-4795</li>
                            <li class="list-inline-item"><img src="images/clock.png" alt="">Mon - Sat 8:30am - 6:30pm</li>
                            <li class="list-inline-item"><img src="images/mail.png" alt="">eleekpalay@aol.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-3">
                    <div class="top-social text-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item">
                                <span><button type="button" data-toggle="modal" data-target="#model-box">Register for training</button></span>
                                <!-- Appointment Box -->

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="logo-area menu-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a href=""><img src="images/logo1.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="main-menu text-left">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item active">
                                <a href="">HOME</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#serviceDiv">SERVICE</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#aboutUsDiv">ABOUT US</a>
                            </li>
                            <li class="list-inline-item" data-toggle="modal" data-target="#model-box">
                                <a>REGISTER</a>
                            </li>
                            <li class="list-inline-item mega-menu">
                                <a href="#contactDiv">CONTACT</a>
                            </li>
                            <li class="list-inline-item"><a href="https://www.heart.org/" target="_blank"><img height="50" width="75" src="images/AmricnHeart.jpg" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Logo Area -->
    <!-- Mobile Menu -->
    <section class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <a href=""><img src="images/logo1.png" alt=""></a>
                            <a href=""><i class="fa fa-bell-o"></i></a>
                            <ul class="list-unstyled">
                                <li><a href="/Index">HOME</a></li>
                                <li><a href="/Index#serviceDiv">SERVICE</a></li>
                                <li><a href="/index#aboutUsDiv">ABOUT US</a></li>
                                <li><a href="" >REGISTER</a></li>
                                <li><a href="/index#contactDiv">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="breadcrumb-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Contact</h2>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item"><a href="">Home</a></li>
                            <li class="list-inline-item"><i class="fa fa-long-arrow-right"></i>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@
    <br /><br />
    <hr />
    <section class="contact">
        <div class="container">
            <div class="row ">
                <div class="col-md-4">
                    <h3>Register for training</h3>
                    <br />
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Trainings</label>
                            <select asp-for="Student.ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId">
                                <option value=""> Please select </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Frist Name</label>
                            <input asp-for="Student.FristName" class="form-control" required />
                            <span asp-validation-for="Student.FristName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input asp-for="Student.LastName" class="form-control" required />
                            <span asp-validation-for="Student.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Student.Email" class="control-label"></label>
                            <input asp-for="Student.Email" class="form-control" required />
                            <span asp-validation-for="Student.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Student.Phone" class="control-label"></label>
                            <input asp-for="Student.Phone" class="form-control" />
                            <span asp-validation-for="Student.Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <br /><br /><br />

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <a><img height="70" width="175" src="images/AmrnHTransWh.png" /></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="f-menu text-center">
                        <ul class="menu list-unstyled list-inline">
                            <li class="list-inline-item"><a href="">Home</a></li>
                            <li class="list-inline-item"><a href="#aboutUsDiv">About Us</a></li>
                            <li class="list-inline-item"><a href="#serviceDiv">Service</a></li>
                            <li class="list-inline-item"><a href="#contactDiv">Contact</a></li>
                        </ul>
                        <p>Copyright &copy; 2020 | Designed With <i class="fa fa-heart"></i> by <a href="https://stringbuilders.azurewebsites.net/" target="_blank">StringBuilders</a></p>
                        <ul class="social list-unstyled list-inline">
                            <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li class="list-inline-item"><a href=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="back-to-top text-center">
                        <a data-scroll href="#btt"><img src="images/backtotop.png" alt="" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

<!-- jQuery JS -->
<script src="js/assets/vendor/jquery-1.12.4.min.js"></script>

<!-- Bootstrap -->
<script src="js/assets/popper.min.js"></script>
<script src="js/assets/bootstrap.min.js"></script>

<!-- Wow Animation -->
<script src="js/assets/wow.min.js"></script>

<!-- Owl Slider -->
<script src="js/assets/owl.carousel.min.js"></script>

<!-- Date Picker -->
<script src="js/assets/moment.min.js"></script>
<script src="js/assets/tempusdominus-bootstrap-4.min.js"></script>

<!-- Isotope -->
<script src="js/assets/isotope.pkgd.min.js"></script>

<!-- Magnific PopUp -->
<script src="js/assets/magnific-popup.min.js"></script>

<!-- Counter Up -->
<script src="js/assets/counterup.min.js"></script>
<script src="js/assets/waypoints.min.js"></script>

<!-- Smooth Scroll -->
<script src="js/assets/smooth-scroll.js"></script>

<!-- Syotimer -->
<script src="js/assets/jquery.syotimer.min.js"></script>

<!-- Mean Menu -->
<script src="js/assets/jquery.meanmenu.min.js"></script>

<!-- Form Validation -->
<script src="js/assets/form.js"></script>

<!-- Custom JS -->
<script src="js/plugins.js"></script>
<script src="js/custom.js"></script>
