// Layout colors
$primary-background-color: #252d3a;
$secondary-background-color: #2d384a;
$aside-gradient-from-color: #151b24;
$aside-gradient-to-color: #151b24;
$header-background-color: #2d384a;
$brand-background-color:#2d384a;

// Color palette
$primary-color:#7b47ca;
$secondary-color:#7e9ac6;
$light-color:#465369;
$dark-color:#171e34;
$error-color:#ff4444;
$warning-color:#ff9f40;
$info-color:#0066ff;
$success-color:#54ca62;
$brand-gradient-from-color: #5688ec;
$brand-gradient-to-color: #7b47ca;

// Navigation colors
$navigation-link-color: #93939a;
$navigation-section-heading-color: #c9c9d0;
$navigation-highlight-color: $primary-color;
$navigation-gradient-from-color: #151b24;
$navigation-gradient-to-color: #151b24;

// Text colors
$primary-text-color: #ffffff;
$primary-text-inverse: #ffffff;
$secondary-text-color: #bbc5d8;
$link-color: #0066ff;

// Component colors
$box-shadow-color: rgba(0,0,0,0.1);
$border-color: #202938;
$border-radius: 4px;
$border-radius-capsule: 100px;
$border-radius-rectangle: 0;
$border-style: solid;
$border-size: 1px;