// Layout colors
$primary-background-color: #e6e8ec;
$secondary-background-color: #ffffff;
$aside-gradient-from-color: #311a41;
$aside-gradient-to-color: #1a2841;
$header-background-color: #fff;
$brand-background-color:#100617;

// Navigation colors
$navigation-link-color: #93939a;
$navigation-section-heading-color: #c9c9d0;
$navigation-highlight-color: #06b9d4;
$navigation-gradient-from-color: #1a2841;
$navigation-gradient-to-color: #311a41;

// Color palette
$primary-color:#59388b;
$secondary-color:#7688aa;
$light-color:#e6e8ec;
$dark-color:#171e34;
$error-color:#ff4444;
$warning-color:#ff9f40;
$info-color:#0066ff;
$success-color:#54ca62;
$brand-gradient-from-color: #5688ec;
$brand-gradient-to-color: #a649e0;

// Text colors
$primary-text-color: #141727;
$primary-text-inverse: #ffffff;
$secondary-text-color: #5d5d6d;
$link-color: #0066ff;

// Component colors
$box-shadow-color: rgba(0,0,0,0.1);
$border-color: #e6e8ec;
$border-radius: 4px;
$border-radius-capsule: 100px;
$border-radius-rectangle: 0;
$border-style: solid;
$border-size: 1px;